* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Inter-medium;
    src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: Inter-bold;
    src: url(../fonts/Inter-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 236vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 16px;
    background-color: #1E1F27;
}

.menu {
    width: 100vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Inter-bold;
    font-weight: bold;
    font-size: 20px;
}
.frame > a {
    margin: 10px 15px;

}

.left_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_options {
    display: flex;
    margin-top: 1%;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
}

.menu_options> a {
    margin: 5px 10px;
}

.right_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:10%;
}

#btn-donate {
    padding: 8% 25%;
    font-family: Poppins-bold;
    background-color: #FF3D9A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 10%;
}

#btn-donate> img {
    width: 40%;
    height: 30%;
    margin-right: 13%;
}

#phone-number-icon {
    margin-right: 5%;
}

#phone-number {
    text-wrap: nowrap;
    margin-right: 10%;
}

.main_content {
    width: 100vw;
    height: 170vh;
    background-color: #1E1F27;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_margin {
    width: 70%;
    height: 90%;
    background-color: #1E1F27;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_content {
    margin-top: 3%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top_content > h1 {
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
}

.top_content > a {
    width: 11%;
    height: 26%;
    border-radius: 32px;
    background-color: #37383F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-back {
    text-decoration: none;
}


#btn-back > p {
    font-size: 20px;
    text-decoration: none;
    font-family: Poppins-bold;
    color: #ffffff;
}

#btn-cancel-modal > img {
   margin-right: 2%;
}

.bottom_content {
    margin-top: 2%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background-color: #1E1F27;
    margin: 1% 3.2%;
}

.top {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    margin-top: 3%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > h1 {
    font-size: 32px;
    font-family: Poppins-bold;
    color: #FFFFFF;
}

#btn-wanna-adopt {
    width: 100%;
    height: 30%;
    border-radius: 32px;
    background-color: #FF3D9A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-wanna-adopt > p {
    font-size: 18px;
    font-family: Poppins-bold;
    color: #ffffff;
}

#btn-wanna-adopt > img {
   width: 15%;
   height: 50%;
   margin-right: 4%;
}

footer {
    width: 100vw;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_footer {
    width: 90%;
    height: 90%;
    background-color: #37383F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_content_footer {
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.logo_name {
    margin-top: 2%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo_name > h1 {
    font-size: 36px;
    font-family: Poppins-bold;
    line-height: 36px;
    color: #1E1F27;
}

.logo_name > p {
    font-size: 20px;
    font-family: Poppins-bold;
    color: #1E1F27;
}

#logo_2 {
    width: 30%;
}

#pink_heart {
    width: 12%;
}

.links {
    margin-top: 2%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.links > p {
    margin: 4% 0%;
    font-size: 20px;
    font-family: Inter-bold;
    color: #1E1F27;
}
.links_2 {
    margin-top: 2%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.links_2 > p {
    margin: 4% 0%;
    font-size: 20px;
    font-family: Inter-bold;
    color: #1E1F27;
}

.contact {
    margin-top: 2%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shell_content {
    display: flex;
}

.left_content_contact {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left_content_contact > img {
    margin: 69% 0%;
    width: 65%;
}

.right_content_contact {
    width: 100%;
    height: 100%;
}

.right_content_contact > p {
    margin: 8% 0%;
    font-size: 20px;
    font-family: Inter-bold;
    color: #1E1F27;
}

.bottom_content_contact{
    width: 100%;
    height: 10%;
}

.bottom_content_contact > img {
    width: 10%;         
    margin-left: 0.2%;
}

.bottom_content_footer {
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom_content_footer > p {
    font-size: 32px;
    font-family: Poppins-bold;
    color: #1E1F27;
    align-self: center;
}

#highlight_2 {
    color: #FF3D9A;
}

.divider_2 {
    width: 80%;
    height: 0.3vh;
    background-color: #1E1F27;
    border-radius: 20px; 
}