* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 500vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.menu {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-wrap: nowrap;
}
.frame > a {
    margin: 10px 15px;

}
.frame > img {
    margin-left: 2% ;
    margin-right: 1%;
}

.left_options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}

.logotype {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_options {
    display: flex;
    margin-top: 1%;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
}

.menu_options> a {
    margin: 5px 10px;
}

.right_options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn-donate {
    width: 46%;
    height: 90%;
    background-color: #FF3D9A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
}

#btn-donate> img {
    width: 17%;
    height: 40%;
}

#phone-number-icon {
    margin-right: 5%;
}

.divider {
    width: 90%;
    height: 0.5vw;
    background-color: #1E1F27;
    border-radius: 20px;
    margin-left: 5%;
}

.main_screen {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.dog_img {
    margin-top: 5%;
}

.main_content {
    display: flex;
    width: 90%;
    height: 100%;
}

.info_block {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.text_block > h1 {
    color: #1E1F27;
    font-size: 2.7rem;
}

.text_block > p {
    color: #37383F;
    font-size: 1.5rem;
}

.cta_block {
    width: 100%;
    height: 30%;
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.text_content {
    font-size: 1.9rem;
    color: #1E1F27;
    text-align: center;
}

.group_of_buttons {
    display: flex;
    width: 80%;
    height: 60%;
    flex-direction: column;
    align-items: center;
}

#btn-donate-main {
    width: 50%;
    height: 40%;
    font-size: 1.2rem;
    background-color:#FF3D9A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

#btn-adopt {
    width: 70%;
    height: 40%;
    margin-top: 10%;
    font-size: 1.2rem;
    color: #1E1F27;
    border: 2px solid #1E1F27;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.stats_block {
    background-color: #1E1F27;
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content_stats {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_information {
    width: 90%;
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_information > h2 {
    font-size: 3.3rem;
    color: #FFFFFF;
    margin-bottom: 16%;
    text-align: center;
    margin-top: 25%;
}

.stats {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animais_rescued {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;
}

.animais_rescued > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.animais_rescued > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.raised {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;
}

.raised > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.raised > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.tails_found_a_home {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;
}

.tails_found_a_home > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.tails_found_a_home > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.carousel_mobile {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel_photos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
.photo {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: absolute;
    opacity: 0;
    width: 70%;
    height: 70%;
    transition: opacity 0.2s;
    margin-top: 0%;
}

.on {
    opacity: 1;
}

.dots {
    width: 40%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.img_dot {
    width: 25%;
    height: 70%;
    background-color: #686868;
    border-radius: 90%;
    margin: 10% 5%;
}
.btn-on {
    background-color: #ffffff;
}