* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.menu {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.2rem;
}
.frame > a {
    margin: 10px 15px;

}

.left_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_options {
    display: flex;
    margin-top: 1%;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
}

.menu_options> a {
    margin: 5px 10px;
}

.right_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:10%;
}

#btn-donate {
    padding: 5% 20%;
    background-color: #FF3D9A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 10%;
}

#btn-donate> img {
    width: 40%;
    height: 30%;
    margin-right: 10%;
}

#phone-number-icon {
    margin-right: 5%;
}

#phone-number {
    text-wrap: nowrap;
    margin-right: 10%;
}

#img-cat-dog {
    width: 95%;
    height: 80%;
}

.divider {
    width: 82vw;
    height: 0.3vh;
    justify-content: center;
    background-color: #1E1F27;
    border-radius: 20px;
    margin-right: 2%;
}

.dog_img {
    margin-top: 5%;
}
.left_content_start {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-around;
}

.left_content_start > h1 {
    font-size: 4rem;
    margin: 0;
}

.left_content_start > h3 {
    font-size: 2rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.left_content_start > p {
    margin-top: 8%;
    font-size: 1.8rem;
    color: #37383F;
}

.right_content_start {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
}

.main_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 82vw;
    height: 100vh;
    margin-top: 8%;
}

.info_block {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.text_block > h1 {
    color: #1E1F27;
    font-size: 2.7rem;
}

.text_block > p {
    color: #37383F;
    font-size: 1.5rem;
}

.cta_block {
    width: 100%;
    height: 30%;
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.text_content {
    font-size: 1.9rem;
    color: #1E1F27;
    text-align: center;
}

.group_of_buttons {
    display: flex;
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-between;
}

#btn-donate-main {
    width: 35%;
    height: 85%;
    font-size: 1.2rem;
    background-color:#FF3D9A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

#btn-adopt {
    width: 40%;
    height: 85%;
    font-size: 1.2rem;
    color: #1E1F27;
    border: 2px solid #1E1F27;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-right: 19%;
}

.stats_block {
    background-color: #1E1F27;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_content_stats > h2 {
    color: #FFFFFF;
    font-size: 2.5rem;
    text-align: center;
}

.main_content_stats {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_information {
    width: 90%;
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_information > h2 {
    font-size: 3.3rem;
    color: #FFFFFF;
    margin-bottom: 16%;
    text-align: center;
    margin-top: 25%;
}

.stats {
    width: 100%;
    height: 35%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.animais_rescued {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animais_rescued > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.animais_rescued > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.raised {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raised > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.raised > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.tails_found_a_home {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tails_found_a_home > h3 {
    font-size: 4rem;
    color: #F8DB46;
    margin: 0;
}

.tails_found_a_home > p {
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 2% 0%;
}

.carousel_mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel_photos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.photo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13.1%;
}

.show {
    overflow: hidden;
    width: 75%;
    height: 50%;;
}
.slider {
    position: relative;
    /* opacity: 0; */
    width: 85%;
    height: 100%;
    transition: opacity 0.2s;
    margin-top: 0%;
    margin: 0% 1%;
}

.on {
    opacity: 1;
}

.dots {
    width: 40%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.img_dot {
    width: 25%;
    height: 70%;
    background-color: #686868;
    border-radius: 90%;
    margin: 10% 5%;
}
.btn-on {
    background-color: #ffffff;
}

.donations_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 120vh; */
}

.main_content_donations {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_content_donations > h2 {
    font-size: 56px;
    color: #e71616;
    /* margin-bottom: 16%; */
    text-align: center;
    /* margin-top: 25%;
 */
}

.cards_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-bottom: 20%;
}

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row1 > img {
    margin: 3%;
}

.shelter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    width: 75%;
    height: 80%;
}

.text_block_shelter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 95%;
    margin-bottom: 10%;
}

.text_block_shelter > p {
    font-size: 1.4rem;
    color: #757575;
    text-align: center;
    margin-bottom: 35%;
}

.top_text_img {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_text_img > h {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.dots2 {
    width: 60%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.img_dot2 {
    width: 40%;
    height: 50%;
    background-color: #686868;
    border-radius: 90%;
    margin: 10% 5%;
}


.adopt_info_block {
    background-color: aquamarine;
    width: 100vw;
    height: 240vh;
}